<div class="email-background" style="background: #eee;padding: 10px;">
  <div class="pre-header" style="max-width: 500px;background: #eee;font-family: sans-serif;margin: 0px auto;overflow: hidden;border-radius: 5px;text-align: center;color: #eee;font-size: 5px;">
    Thank you so much for {{that thing you did}}, {{Person}}
  </div>
  <div class="email-container" style="max-width: 500px;background: white;font-family: sans-serif;margin: 0px auto;overflow: hidden;border-radius: 5px;text-align: center;">
    <h1 style="padding: 0 10px;">Thank you so much, {{Person}}!</h1>
    <img src="https://raw.githubusercontent.com/bvautour/waller/master/png/brad_bg.png" alt="brad" style="max-width: 100%;">
    <p style="margin: 20px;font-size: 18px;font-weight: 300px;text-align: center;color: #667;line-height: 1.5;">
      Hey <span class="special" style="color: #4A90E2;">{{Person}}</span>, you're awesome!
      Thank you for {{that amazing thing you did}}.
      I wanted to circle back and introduce myself. I'm Brad, that guy with
      beard that {{how we met}}
    </p>
    <p style="margin: 20px;font-size: 18px;font-weight: 300px;text-align: center;color: #667;line-height: 1.5;">{{further email context if needed}}</p>
    <hr style="width: 30%;">
    <div class="sign-off">
      <p style="margin: 20px;font-size: 18px;font-weight: 300px;text-align: center;color: #667;line-height: 1.5;margin-bottom: 10px;">Brad Vautour</p>
      <img src="https://raw.githubusercontent.com/bvautour/waller/master/png/logo.png" alt="logo" style="max-width: 100%;">
      <p style="margin: 20px;font-size: 18px;font-weight: 300px;text-align: center;color: #667;line-height: 1.5;margin-top: 10px;"><span class="ft" style="margin: 0 auto;background: url(https://raw.githubusercontent.com/bvautour/waller/master/png/42logo.png);background-size: contain;background-repeat: no-repeat;height: 16px;width: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Developer</p>
    </div>
  </div>
  <div class="footer-text" style="max-width: 500px;background: none;font-family: sans-serif;margin: 0px auto;overflow: hidden;border-radius: 5px;text-align: center;padding: 20px;font-size: 10px;">
    <a href="#" style="color: #667;text-decoration: none;">Github</a> | <a href="#" style="color: #667;text-decoration: none;">LinkedIn</a>
  </div>
</div>
